.home-page-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    margin: 2em 1em;
}

.card-comment-container {
    margin: 2em 0;
}

.empty-state {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    height: 100vh;

}

.card {
    display: flex;
    flex-flow: column;
    background-color: rgb(255, 255, 255);
    border-radius: 0.4em;
    width: 300px;
    height: fit-content;
    padding: 1em;
}

.shipment-img {
    border-radius: 0.4em;
    width: 300px;
    height: 200px;
}

/* .shipment-name {
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: 500;
} */

.shipment-name,
.shipment-address,
.shipment-phone,
.shipment-waybill {
    margin-top: 8px;
    font-size: 14px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    transition: background-color 0.3s;
}

.delete-btn {
    background-color: #e01717;
    margin-left: 5px;
}

.delete-btn:hover {
    background-color: #b92929;
}

button:hover {
    background-color: #2980b9;
}

.update-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.update-form label {
    margin-bottom: 8px;
}

.update-form input {
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.update-form button {
    padding: 8px 12px;
    cursor: pointer;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 10px;
}

.update-form button[type="submit"] {
    background-color: #3498db;
}

.update-form button:hover {
    background-color: #27ae60;
}